<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="./frontend/icon.png" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href='https://css.gg/css' rel='stylesheet'>
  <style>
    .collapsed-y { transform: scaleY(0); }
    .expanded-y { transform: scaleY(1); }
    .origin-top { transform-origin: top; }
    .origin-bottom { transform-origin: bottom; }
    .maze-pad { fill-opacity: 10%; }
    .snake-food { fill: #10B981; } 
    .snake-10 { fill: #FDF2F8; }
    .snake-20 { fill: #FCE7F3; }
    .snake-30 { fill: #FBCFE8; }
    .snake-40 { fill: #F9A8D4; }
    .snake-50 { fill: #F472B6; }
    .snake-60 { fill: #EC4899; }
    .snake-70 { fill: #DB2777; }
    .snake-80 { fill: #BE185D; }
    .snake-90 { fill: #9D174D; }
    .snake-100 { fill: #831843; }
  </style>
</head>
<body>
  <div id="app" class="h-screen w-screen flex divide-x p-2">
    <div class="flex-1 h-full p-5">
      <svg style="width:100%;height:100%" :view-box.camel="mazeViewBox">
        <rect v-for="loc in mazePadLoc" :x="loc[0]" :y="loc[1]" :width="mazeSettings.unit" :height="mazeSettings.unit" class="maze-pad"></rect>
        <circle v-for="loc in foodLocations" :cx="getCoord(loc[0])" :cy="getCoord(loc[1])" r="10" class="snake-food"></circle>
        
        <circle v-for="(loc,i) in snakeLocations" :cx="getCoord(loc[0])" :cy="getCoord(loc[1])" r="10" :class="`snake-${snakeColors[i]}`"></circle>
      </svg>
    </div>
    <div class="flex-none w-1/4 h-full flex flex-col p-2 item-stretch">
      <!-- points -->
      <div class="w-full flex-none flex flex-col border-b">
        <div class="text-gray-100 p-1 bg-gray-500">Accummulated points</div>
        <div class="text-4xl text-center">{{ accPoints }}</div>
      </div>
      <!-- controls -->
      <div class="w-full flex-none text-gray-100 p-1 cursor-pointer flex flex-row bg-gray-500" @click="showControls = !showControls">
        <span class="flex-1">Controls</span>
        <i :class="showControls ? 'ri-arrow-down-s-line' : 'ri-arrow-left-s-line'"></i>
      </div>
      <div class="w-full overscroll-contain overflow-auto flex flex-col border-b transition-all origin-top" :class="showControls ? 'flex-1 expanded-y' : 'flex-0 h-0 collapsed-y'">
        <button-with-label 
          :icon="controls.manual ? 'ri-user-line' : 'ri-skull-2-line'"
          :label="controls.manual ? 'Human' : 'Agent'"
          @click="controls.manual=!controls.manual">
        </button-with-label>
        <select label="Choose player" class="border p-1 mx-1 mb-1" v-model="selectedPlayer" :disabled="controls.manual">
          <option v-for="player,i in playerList" :key="i" :value="player.value">{{ player.label }}</option>
        </select>
        <button-with-label 
          :icon="controls.play ? 'ri-pause-line' : 'ri-play-line'"
          :label="controls.play ? 'Playing' : 'Paused'"
          @click="controls.play=!controls.play">
        </button-with-label>
        <button-with-label 
          icon="ri-restart-line"
          label="Reset"
          @click="initialiseGame">
        </button-with-label>
        <button-with-label v-if="!controls.manual"
          :icon="controls.stepping ? 'ri-arrow-right-s-line' : 'ri-speed-line'"
          :label="controls.stepping ? 'Step-by-step' : 'Automatic progression'"
          @click="controls.stepping=!controls.stepping">
        </button-with-label>
        <text-button v-if="!controls.manual" class="mx-1 p-1 mb-1" :class="controls.stepping ? '' : 'text-gray-300'" :disabled="!controls.stepping" @click="nextStep">Next step</text-button>
        <div class="pt-1 mx-1">{{ controls.manual ? 'Moving' : 'Animation' }} speed</div>
        <div class="flex flex-row pb-1">
          <input type="range" class="flex-1 mx-1 p-1" />
        </div>
        <button-with-label v-if="!controls.manual"
          icon="ri-organization-chart"
          label="Show search trees"
          @click="showtrees">
        </button-with-label>
        
      </div>
      <!-- settings -->
      <div class="w-full flex-none text-gray-100 p-1 cursor-pointer flex flex-row bg-gray-500" @click="showControls = !showControls">
        <span class="flex-1">Game Settings</span> 
        <i :class="!showControls ? 'ri-arrow-down-s-line' : 'ri-arrow-left-s-line'"></i>
      </div>
      <div class="w-full overscroll-contain overflow-auto flex flex-col relative border-b transition-all origin-bottom" :class="showControls ? 'flex-0 h-0 collapsed' : 'flex-1 expanded'">
        <div class="absolute bottom-0 w-full flex flex-row p-1 bg-red-500" v-if="settingsModified">
          <div class="text-gray-100 flex-1">Save modified settings? Game will be reset.</div>
          <button-only icon="ri-check-line" class="flex-none mr-1 w-8 bg-gray-100" @click="saveSettings"></button-only>
          <button-only icon="ri-close-line" class="flex-none text-black w-8 bg-gray-100" @click="discardSettings"></button-only>
        </div>
        <div class="pt-1 mx-1">Maze size</div>
        <div class="flex flex-row h-10 mx-1 mb-1">
          <input type="number" v-model.number="settings.displayed.mazeRow" class="flex-1 w-0 border p-1" min="1">
          <div class="flex-none mx-2">&times;</div>
          <input type="number" v-model.number="settings.displayed.mazeCol" class="flex-1 w-0 border p-1" min="1">
        </div>
        <button-with-label class="pt-2"
          :icon="settings.displayed.staticLength ? 'ri-separator' : 'ri-bar-chart-horizontal-line'"
          :label="settings.displayed.staticLength ? 'Fixed snake length' : 'Dynamic snake length'"
          @click="settings.displayed.staticLength=!settings.displayed.staticLength">
        </button-with-label>
        <div class="pt-1 mx-1">Starting snake length</div>
        <div class="flex flex-row h-10 mx-1 mb-1">
          <input type="number" v-model.number="settings.displayed.startLength" class="flex-1 w-0 border p-1" min="1">
        </div>
        <div class="pt-1 mx-1">Food number</div>
        <div class="flex flex-row h-10 mx-1 mb-1">
          <input type="number" v-model.number="settings.displayed.foodNumber" class="flex-1 w-0 border p-1" min="1">
        </div>
      </div>
      <!-- log -->
      <div class="w-full flex-1 overscroll-contain overflow-auto divide-y flex flex-col">
        <div class="text-gray-100 p-1 bg-gray-500">Logs</div>
        <div v-for="(log,logidx) in logs" :key="logidx" class="p-1">
          {{ log }}
        </div>
      </div>
    </div>
  </div>

  <template id="button-only">
    <button class="border flex flex-row justify-center items-center" @click="$emit('click')">
      <span :class="icon"></span>
    </button>
  </template>

  <template id="text-button">
    <button class="border flex flex-row justify-center items-center" @click="$emit('click')">
      <slot></slot>
    </button>
  </template>

  <template id="button-with-label">
    <div class="flex flex-row items-center p-1 h-10">
      <button class="flex-none w-10 flex flex-row justify-center h-full items-center border" @click="$emit('click')">
        <span :class="icon"></span>
      </button>
      <div class="flex-1 pl-1">{{ label }}</div>
    </div>
  </template>
  <script src="./frontend/index.js"></script>
</body>
</html>